.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.table-container {
  margin-bottom: 20px;
  width: 50%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
  width: 200px;
  position: relative;
}

th:first-child, td:first-child{
  background-color: #66666625;
}

th:nth-child(2), td:nth-child(2){
  background-color: #4ea1c225;
}

th {
  background-color: #f2f2f2;
}

tr.selected {
  background-color: #cce5ff;
  cursor: pointer;
}

.chart-container {
  border: 1px solid #dddddd;
  width: 50%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
